<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<main>
    <table>
        <tr>
            <th></th>
            {% for item in aluno.serie_aluno[0].ano_escolar.periodo %}
            <th>{{item.numero_periodo }}º</th>
            {% endfor %}
            <th>Média</th>
        </tr>
        {% for materi in aluno.aluno_turma %}
        <tr>
            <td>{{ materi.turma.disciplina.materia.nome }}</td>

            <!-- {% for aluno_turma in aluno.aluno_turma %}

                {% if aluno_turma.turma.disciplina.id_materia == materia.id %}

                <td>{{ aluno_turma.nota }}</td>
                        
                {% endif %}
            {% endfor %} -->

            <td>{{ somas[loop.index0] }}</td>
        </tr>
        {% endfor %}
        <!-- <tr>
        {% for item in aluno.serie_aluno[0].ano_escolar.periodo %}
          <th>{{item.numero_periodo }}º</th>
        {% endfor %}
        </tr>
        <tr>
        {% for item in aluno.aluno_turma %}
        <td>{{item.nota }}</td>
          {% endfor %}
        </tr> -->
      </table> 
</main>
</body>
</html>