<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>Sistema Acadêmico</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="../static/assets/css/fontawesome.css">
    <link rel="stylesheet" href="../static/assets/css/templatemo-style.css">
    <link rel="stylesheet" href="../static/assets/css/owl.css">

  </head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

      <!-- Main -->
        <div id="main">
          <div class="inner">

            <!-- Header -->
            <header id="header">
              <div class="logo">
                <a href="index.html">Sistema Acadêmico</a>
              </div>
            </header>

            <!-- Banner -->
            <section class="main-banner">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <div class="banner-content">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="banner-caption">
                            <h4>Olá <em>Professor {{ professor.nome }} </em> já está disponível a aba <em>Relatórios</em>!</h4>
                            <!--<span>AWESOME HTML5 &amp; CSS3 TEMPLATE</span>-->
                            <p>Agora você pode acessar Relatórios das turmas ministradas por você obtendo a média da turma, notas individuais e desempenho de cada aluno.</p>
                            <div class="primary-button">
                              <a href="relatorio.html">Acesse Relatórios aqui</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>

          <!-- Footer -->
          <footer id="footer">
            <p class="copyright">Todos os direitos reservados a Sistema Acadêmico</p>
         </footer>
          </div>
        </div>

      <!-- Sidebar -->
        <div id="sidebar">

          <div class="inner">
            <!--IMG TOPO=====================================================-->
            <div class="top-section">
                <div class="profile-image">
                    <img src="../static/assets/images//wilson.jpg" alt="Acadêmico">
                </div>
                <div class="profile-content">
                    <!-- <h3 class="profile-title">Wilson Sanches</h3> -->
                    <h3 class="profile-title">{{ professor.nome }}</h3>
                    <p class="profile-description">Sistema Acadêmico</p>
                </div>
            </div>
            <!--=====================================================-->
            <!-- Menu -->
            <nav id="menu">
              <ul>
                <li><a href="index.html">Início</a></li>
                <li><a href="relatorio.html">Relatórios</a></li>
                <li><a href="gestaoAlunos.html">Gestão de Alunos</a></li>
              </ul>
            </nav>
          </div>
        </div>
    </div>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="../static/assets/js/browser.min.js"></script>
    <script src="../static/assets/js/breakpoints.min.js"></script>
    <script src="../static/assets/js/transition.js"></script>
    <script src="../static/assets/js/owl-carousel.js"></script>
    <script src="../static/assets/js/custom.js"></script>
</body>


  </body>

</html>
